{% extends 'base.html.twig' %}

{% block title %}Edit Set{% endblock %}

{% block body %}
    <h1>Edit Set</h1>

    {{ include('set/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('set_index') }}">back to list</a>

    {{ include('set/_delete_form.html.twig') }}
{% endblock %}
